.App {
  text-align: right;
}
.header {
  /* background-color: #267086; */
  background-color: #3b65b4;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.bodyDiv{
  flex: 1;
  align-items: center;
}
.MainPageDiv{
  /* background-image: url("https://cdn.pixabay.com/photo/2018/02/15/14/37/leaf-3155438_960_720.jpg"); */
  background-image: url("https://cdn.pixabay.com/photo/2015/05/05/09/42/paper-753508_960_720.jpg");
  background-repeat: no-repeat;
  background-size: 120%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.footerDiv{
  background-color: #044558;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}
/* .active{
  background-color: #4CAF50;
} */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position:sticky;
  top: 0;
}
li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.siteHeaderText{
  color: rgb(36, 34, 34);
  text-decoration: none;
}
.ulHeader{
  position:sticky;
  top: 0;
}
